<template name="postItem">
  <div class="post" {{attributes}}>
    <a href="#" style="font-size:1em;font-weight:900;margin-top:7px;margin-right:4px;" class="btn pull-left {{upvoteButtonClass}}">&#x2b06;</a>
    <a href="#" style="font-size:1em;font-weight:900;margin-top:7px;margin-right:12px;" class="btn pull-left {{downvoteButtonClass}}">&#x2b07;</a>
    <div class="post-content">
      <h3><a href="{{url}}">{{title}}</a><span>{{domain}}</span></h3>
      <small>
        {{pluralize votesCount "vote"}},
        submitted by {{author}},
        <a href="{{pathFor 'postPage'}}">{{pluralize commentsCount "comment"}}</a>
        {{#if ownPost}}<a href="{{pathFor 'postEdit'}}">Edit</a>{{/if}}
      </small>
    </div>
    <a href="{{pathFor 'postPage'}}" class="discuss btn btn-primary">Discuss</a>
  </div>
</template>
